* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* tipografia google fonts */
    font-family: "Freeman", sans-serif;
    font-weight: 700;
    font-style: normal;
}

:root {
    /* color de fondo primario */
    --bg-color: #16161d;
    /* color de fondo secundario */
    --secondary-bg-color: black;
    /* color de texto */
    --text-color: white;
    /* color principal */
    --main-color: red;
  
}

/* HEADER */

header {
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: var(--secondary-bg-color);
    padding: 2rem;
    
}

.resalte_alura {
    background-color: var(--main-color);
    color: var(--text-color);
    font-weight: 900;
}

.h1__resalte {
    color: var(--text-color);
    text-decoration: overline underline var(--text-color);
    font-weight: 400;
    font-size: 2.2rem;
}

/* icons */

.fa-star{
    color: var(--text-color);
    font-size: 2rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;

}


/* MAIN */

body {
    background-color: var(--bg-color);
}

main {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row-reverse;
    gap: 3rem;
    margin-bottom: 3rem;
}

/* FORMULARIO */

.formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
}

.formulario h3 {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: var(--text-color);
}


.formulario_input {
    width: 35vw;
    height: 2.5rem;
    border: 1.5px dotted var(--main-color);
    border-radius: 0.5rem;
    text-align: left;
    padding: 5px;
    font-size: 1.3rem;
    margin: 1rem 0;
}

.formulario_botones {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}

.formulario_btn {
    width: 17vw;
    height: 3.5rem;
    font-size: 1.5rem;
    font-weight: 800;
    background-color: var(--main-color);
    color: var(--text-color);
}

.formulario_btn:hover{
    background-color: var(--text-color);
    color: var(--main-color);
}


/* tarjetas con productos */


.productos {
    margin-top: 1rem;
}

.contenedor_productos {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 1rem;
}

.productos_tarjeta {
    width: 200px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 15px;
    gap: 1.5rem;
    border: 3px solid var(--main-color);
}

.productos_tarjeta:hover {
    box-shadow: 0 0 20px var(--main-color);
}

.producto_img{
    width: 180px;
    height: 180px;
    border-radius: 15px;
}

.producto_titulo {
    text-align: center;
}

.producto_nombre {
    font-size: 1.5em;
    color: var(--text-color);
    margin-bottom: 15px;
}

.producto_alineacion {
    font-size: 1.1em;
    color: var(--text-color);
    
}

.productos_alineacion_tachito {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 3rem;
}

.fa-trash-can {
    color: var(--main-color);
    font-size: 1.3rem;
}

/* footer */

footer {
    background-color: var(--secondary-bg-color);
    padding: 2rem;
}

.footer_parrafo {
    color: var(--text-color);
    text-align: center;
    font-size: 1.5rem;
}